<header class="header">
</header>
<div class="content">
        <form class="workSession" id="connect">
            <label class="input">
                ID сессии
                <input id="idInput" type="text" name="id" placeholder="Введите id сессии">
            </label>
            <button class="buttonStyle" id="connectButton">Присоединиться к сесии</button>
        </form>
        <form class="workSession" action="/create" method="get">
            <button formaction="/create" formmethod="get" class="buttonStyle" id="createButton">Создать сесию</button>
        </form>
</div>
<script src="/client.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
