<header class="header">
    <span>Lecture Pulse</span>
    <script src="client.js"></script>
    <link rel="stylesheet" type="text/css" href="/indexStyles2.css">
</header>
<body>

<div class="conteiner">
    <div class = "emodji">
        <img id="angry" src="/angry.png">
    </div>
    <div class = "emodji">
        <img src="/bored.png">
    </div>
    <div class = "emodji">
        <img src="/crying-1.png">
    </div>
    <div class = "emodji">
        <img src="/happy-1.png">
    </div>
    <div class = "emodji">
        <img src="/surprised-1.png">
    </div>
    <div class = "emodji">
        <img src="/unhappy.png">
    </div>
</div>

<div>
    TODO: comments
</div>
</body>

