.header
{
    height: 48px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9px;
    padding-right: 9px;
}
.workSession{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc(30% + 200px);
    height: 60%;
    border-radius: 10px;
    background: #F2F2F2;
    font-size: 30px;
    align-content: center;
    margin: 50px 0;
}

.buttonStyle{
    background: #1D85D0;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 36px;
    margin: 10%;
}
.input{
    width: 80%;
    font-size: 36px;
    margin: 10%;
}
#idInput{
    width: 70%;
}
#createButton{
    width: 80%;
}

.content{
    height: 80vh;
    width: 80vw;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
html{background: #E5E5E5; }
main{background: #E5E5E5; }
