.head
{
    height: 48px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9px;
    padding-right: 9px;
}

.content
{
    margin: 16px 72px;
}

.questions
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img
{
    margin: 0 7px;
    height: 290px;
    width: 386px;
}

.card
{
    width: 400px;
    margin: 10px;
}

.question
{
    margin: 12px 19px;
}

.submit-wrapper
{
    display: flex;
    justify-content: center;
}
